.content {
    color: black;
    background-color: gray;
    border-radius: 4px;
    padding-left: 10px;
}

.content:hover {
    background-color: slategray;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

