<div class="container-fluid">
  
    <div *ngIf="articles$ | async as articles; else loading">
      <mat-select placeholder="select article" [(value)]="article">
        <mat-option *ngFor="let a of articles" [value]="a">
          {{a.title}}
        </mat-option>
        <mat-option [value]="emptyArticle">
          Create New...
        </mat-option>
      </mat-select>
        <p *ngIf="!articles.length">Es wurden noch keine Artikel eingetragen.</p>
    </div>
    <ng-template #loading>
      loading...
    </ng-template>
    <hr>
    <mat-form-field id="title_input">
      <input matInput placeholder="Title" [(ngModel)]="article.title">
    </mat-form-field>
    <h2>Article Summary:</h2>
    <md-editor name="Summary" [(ngModel)]="article.summary" [height]="'200px'" required></md-editor>
    <h2>Article Content:</h2>
    <md-editor name="Content" [(ngModel)]="article.content" [height]="'200px'" required></md-editor>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of article.tags" [selectable]="selectable"
                 [removable]="removable" (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
        </mat-chip>
        <input placeholder="New tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>

  <!-- <ng-template #empty>
      <md-editor *ngIf="article; else empty" name="Content" [(ngModel)]="content" [height]="'200px'" required></md-editor>
    </ng-template> -->
    <!-- <p *ngIf="article">{{article._id}}</p> -->
    <span class="btn_container">
      <button class="btn" (click)="saveArticle()">Save</button>
    </span>
    <span class="btn_container">
      <button class="btn" (click)="publishArticle()">Publish</button>
    </span>
    <span class="btn_container">
      <button class="btn" [routerLink]="'../articles'">Cancel</button>
    </span>
</div>
