mat-select {
    width: 200px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding-left: 2px;
    border-radius: 3px;
}

#title_input {
    width: 100%;
}

.btn_container {
    margin: 0px 5px 0px 5px;
}

.example-chip-list {
    width: 100%;
}